name: CI - AVR-GCC Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Check out submodules
      run: git submodule update --init --recursive
    - name: Retrieve AVR-GCC Tools
      run: sudo apt-get install gcc-avr avr-libc
    - name: Install CMake
      run: sudo apt-get install cmake
    - name: Compile
      run: |
        chmod +x avr-toolchain.sh
        ./avr-toolchain.sh
        mkdir build
        cd build
        cmake ..
        make -j8
